@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary-color: #1dbd7d;
  --secondary-color: #21835c;
  --light-color: #f5f5f5;
  --success-color: #2cb77d;
  --error-color: #dc3545;
  --font-color: #062f1c;
  --background-color: #083a2d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background: var(--background-color);
  color: var(--font-color);
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* General styles */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background: var(--secondary-color);
}

/* Chat Page */
.chat-container {
  width: 100%;
  height: 100%;
  background: #062f1c;
  border-radius: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.chat-header {
  background: var(--primary-color);
  color: #083a2d;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.chat-main {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  padding: 20px;
  overflow: hidden;
}

.chat-sidebar {
  background: var(--secondary-color);
  color: #fff;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.chat-sidebar h2 {
  font-size: 24px;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.chat-sidebar h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.chat-sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-sidebar ul li {
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

.chat-messages {
  padding: 20px;
  background: var(--light-color);
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.chat-messages .message {
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.chat-messages .message .meta {
  font-size: 14px;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.chat-messages .message .meta span {
  color: #777;
}

.chat-form-container {
  padding: 20px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.chat-form-container form {
  display: flex;
  width: 100%;
}

.chat-form-container input[type='text'] {
  font-size: 16px;
  padding: 10px;
  flex: 1;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}

.chat-form-container button {
  flex-shrink: 0;
  background-color: #10784b;
}

.leave-room-btn {
  background-color: #10784b;
}

/* Join Page */
.join-container {
  display: flex;
  padding: 30px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--light-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.join-header, .join-main {
  width: 100%;
}

.join-header {
  text-align: center;
  padding: 30px;
  background: var(--primary-color);
  color: #062f1c;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.join-main {
  padding: 30px;
  background: var(--secondary-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

.join-main input[type='text'],
.join-main select {
  font-size: 16px;
  padding: 15px;
  border: none;
  border-radius: 10px;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
  background: var(--light-color);
  color: var(--secondary-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.join-main .btn:hover {
  background-color: #b7ffde;
  color: #10784b;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
